<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tips from the Jungle</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        
                        <a href="https://95cb23sw6jx0vx97uepkbk5o9d.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase00.jpg" alt="">

                        </a>
                    
                        <a href="https://ff0b74va-fv63u1kogysq9x8v9.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase1.jpg" alt="">
                        </a>
                        
                        <a href="https://176a54-24cr96u3f08vo-ro8c0.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                            <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase2.jpg" alt="">
                        </a>
                        
                        <a href="https://e51a94ua19q90wblnng87svv5e.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase3.jpg" alt="">
                        </a>
                        
                        <a href="https://amzn.to/4lskxdB" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase4.jpg" alt="">
                        </a>
                    
                        <a href="https://amzn.to/44GKmkE" class="d-block w-100 text-white text-decoration-none">
                            <img class="img-fluid" style="width: 100%; height: 300px; margin-bottom: 20px" src="src/img/adsBase5.jpg" alt="">
                        </a>
                        
                        <a href="https://amzn.to/44FHUeb" class="d-block w-200 text-white text-decoration-none" style="background: #055570;">
                            <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase6.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- Social Follow End -->
                <!-- Social Follow End -->


                <!-- Popular News Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tranding News</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="src/img/news-110x110-Netflix.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Products</a>
                                    <a class="text-body" href=""><small></small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="">Netflix the best top 5 series. </a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="src/img/news-110x110-Book.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Products</a>
                                    <a class="text-body" href=""><small></small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="https://a573c-u6xew43mf2nj2cvpqk88.hop.clickbank.net">Build a Fortune With Real Estate Foreclosures and Short Sales.</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="src/img/news-110x110-Remixable.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Products</a>
                                    <a class="text-body" href=""><small></small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="https://9f13cayxxdq9zqffs9kkhwq7fu.hop.clickbank.net">Remixable Includes The Fastest, Simplest... & Yet Most Powerful</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="src/img/news-110x110-Crypto.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Products</a>
                                    <a class="text-body" href=""><small></small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="https://thecryptocode.com/partners/">Learn: The secret of the Crypto Code</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                            <img class="img-fluid" src="src/img/news-110x110-realstate.jpg" alt="">
                            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                <div class="mb-2">
                                    <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="">Products</a>
                                    <a class="text-body" href=""><small></small></a>
                                </div>
                                <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="https://a2efbaz7xaq2uu0frztlqyycyu.hop.clickbank.net">Learn: Real Estate Investor Course</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Popular News End -->

                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Sci-Fi Movies</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Gadgets</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">TV Series</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Esports</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Artificial Intelligence</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Digital Marketing</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Fantasy Films</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Coding</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Streaming Shows</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Athletics</a>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>