<!-- Topbar Start -->
 <div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center bg-white py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="#" class="navbar-brand p-0 d-none d-lg-block">
                <img src="src/img/logoGorillaNews.png"alt="">
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <a href="https://htm211.com/track.php?lid=763070&rid=745748&aid=18774430" target='_blank' rel='nofollow'><img class="img-fluid w-100" src="src/img/sleeps.jpeg"alt=""></a>
        </div>
    </div>
</div>
<!-- Topbar End -->

    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
            <a href="index.html" class="navbar-brand d-block d-lg-none">
                <img src="src/img/logoGorilla.png"alt="">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="index.html" class="nav-item nav-link">Home</a>
                    <a href="index.html" class="nav-item nav-link">Movies</a>
                    <a href="index.html" class="nav-item nav-link">Series</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">World Heroes</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="#" class="dropdown-item">Marvel</a>
                            <a href="#" class="dropdown-item">DC</a>
                            <a href="#" class="dropdown-item">HQ</a>
                            <a href="#" class="dropdown-item">Games</a>
                        </div>
                    </div>
                    <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
                </div>
                <div class="input-group ml-auto d-none d-lg-flex" style="width: 100%; max-width: 300px;">
                    <input type="text" class="form-control border-0" placeholder="Keyword">
                    <div class="input-group-append">
                        <button class="input-group-text bg-primary text-dark border-0 px-3"><i
                                class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
