<div class="col-lg-4">
    <!-- Social Follow Start -->
    <div class="mb-3">
        <div class="section-title mb-0">
            <h4 class="m-0 text-uppercase font-weight-bold">Tips from the Jungle</h4>
        </div>
        <div class="bg-white border border-top-0 p-3">
            
            <a href="https://95cb23sw6jx0vx97uepkbk5o9d.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase00.jpg" alt="">

            </a>
           
            <a href="https://ff0b74va-fv63u1kogysq9x8v9.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase1.jpg" alt="">
            </a>
            
            <a href="https://176a54-24cr96u3f08vo-ro8c0.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase2.jpg" alt="">
            </a>
            
            <a href="https://e51a94ua19q90wblnng87svv5e.hop.clickbank.net" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase3.jpg" alt="">
            </a>
            
            <a href="https://amzn.to/4lskxdB" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase4.jpg" alt="">
            </a>
           
            <a href="https://amzn.to/44GKmkE" class="d-block w-100 text-white text-decoration-none">
                <img class="img-fluid" style="width: 100%; height: 300px; margin-bottom: 20px" src="src/img/adsBase5.jpg" alt="">
            </a>
             
             <a href="https://amzn.to/44FHUeb" class="d-block w-200 text-white text-decoration-none" style="background: #055570;">
                <img class="img-fluid" style="width: 100%; height: 300px;" src="src/img/adsBase6.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- Social Follow End -->
</div>